{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{ifset title}{include title|striptags} | {/ifset}Chat</title>
	<link rel="stylesheet" href="{$basePath}/s/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="{$basePath}/s/bootstrap/dist/css/bootstrap-theme.min.css" />
	<link rel="stylesheet" href="{$basePath}/css/style.css">
	<script src="{$basePath}/s/respond/dest/respond.min.js"></script>
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{block head}{/block}
</head>

<body>
	<div class="container">
		<div class="row">
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse">
						<span class="sr-only">Přepínač menu</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="collapse">
					<ul class="nav navbar-nav navbar-left">
						{if $user->isLoggedIn()}
							<li n:class="$presenter->isLinkCurrent('Chatrooms:') ? active, navbar-left"><a href="{plink Chatrooms:}">Místnosti</a></li>
							<li class="navbar-right"></li>
							<li class="navbar-right"><a href="{plink Sign:out}">Odhlásit</a></li>
						{else}
							<li n:class="$presenter->isLinkCurrent('Homepage:') ? active, navbar-left"><a href="{plink Homepage:}">Domů</a></li>
							<li n:class="$presenter->isLinkCurrent('Sign:in') ? active, navbar-left"><a href="{plink Sign:in}">Přihlásit</a></li>
							<li n:class="$presenter->isLinkCurrent('Sign:register') ? active, navbar-left"><a href="{plink Sign:register}">Registrovat</a></li>
						{/if}
					</ul>
				</div>
			</nav>
		</div>
	</div>
	{include content}


	<script src="{$basePath}/s/jquery/dist/jquery.min.js"></script>
	<script src="//nette.github.io/resources/js/netteForms.min.js"></script>
	<script src="{$basePath}/s/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="{$basePath}/js/main.js"></script>
	{ifset scripts}{include scripts}{/ifset}
</body>
</html>
