{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{ifset title}{include title|striptags} | {/ifset}Chat</title>
	<link rel="stylesheet" href="{$basePath}/bower_components/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="{$basePath}/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" />
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/bower_components/toastr/toastr.min.css" />
	<link rel="stylesheet" href="{$basePath}/css/style.css">
	<script src="{$basePath}/bower_components/respond/dest/respond.min.js"></script>
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{block head}{/block}
</head>

<body>
	<div class="container">
		<div class="row">
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse">
						<span class="sr-only">Přepínač menu</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="collapse">
					<ul class="nav navbar-nav">
						{if $user->isLoggedIn()}
							<li n:class="$presenter->isLinkCurrent('Chatrooms:') ? active, navbar-left"><a href="{plink Chatrooms:}">Místnosti</a></li>
							{foreach $inRooms as $room}
							<li n:class="$presenter->isLinkCurrent('Chatrooms:room', $room->chatroom_id) ? active, navbar-left"><a n:href="Chatrooms:room $room->chatroom_id">{$room->ref('chatroom_id')->title|trim:10}</a></li>
							{/foreach}
							<li class="navbar-right visible-lg visible-md"></li>
							<li n:class="$presenter->isLinkCurrent('Profiles:') ? active, navbar-right, visible-xs"><a href="{plink Profiles:}">Profil</a></li>
							<li class="navbar-right"><a href="{plink Sign:out}">Odhlásit</a></li>
							<li n:class="$presenter->isLinkCurrent('Profiles:') ? active, navbar-right, hidden-xs"><a href="{plink Profiles:}">Profil</a></li>
						{else}
							<li n:class="$presenter->isLinkCurrent('Homepage:') ? active, navbar-left"><a href="{plink Homepage:}">Domů</a></li>
							<li n:class="$presenter->isLinkCurrent('Sign:in') ? active, navbar-left"><a href="{plink Sign:in}">Přihlásit</a></li>
							<li n:class="$presenter->isLinkCurrent('Profiles:register') ? active, navbar-left"><a href="{plink Profiles:register}">Registrovat</a></li>
						{/if}
					</ul>
				</div>
			</nav>
		</div>
	</div>
	{include content}


	<script src="{$basePath}/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="//nette.github.io/resources/js/netteForms.min.js"></script>
	<script src="{$basePath}/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="{$basePath}/bower_components/toastr/toastr.min.js"></script>
	<script src="{$basePath}/js/main.js"></script>
	{ifset scripts}{include scripts}{/ifset}
	{if !empty($flashes)}
		<script>
		{foreach $flashes as $flash}
			{if $flash->type == 'info'}
				toastr.info({$flash->message});
			{elseif $flash->type == 'success'}
				toastr.success({$flash->message});
			{elseif $flash->type == 'error'}
				toastr.error({$flash->message});
			{else}
				toastr.warning({$flash->message});
			{/if}
		{/foreach}
	</script>
	{/if}
</body>
</html>
