{layout '@layout.latte'}
{block header}
<li><a href="{plink Homepage:}">Domů</a></li>
<li><a href="{plink Sign:in}">Přihlásit</a></li>
<li><a href="{plink Sign:register}">Registrovat</a></li>
{/block}