{layout '../logged_in.latte'}
{block header}
			<li class="active"><a href="{plink Rooms:}">Místnosti</a></li>
			<li><a href="{plink Sign:out}">Odhlásit</a></li>
{/block}
{block content}
<div class="container">		
	<div class="row">
		<div id="window" class="col-md-10">
			
		</div>
		<div id="side" class="col-md-2 visible-lg visible-md">
			boční
		</div>
	</div>
	<div id="input" class="row">
		<!--<div class="input-group">
			<input type="text" class="form-control" placeholder="Napiš zprávu..." id="msg">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button" id="snd">Odeslat</button>
			</span>
		</div>-->
		<div class="col-md-10">
			<textarea class="form-control" rows="2" id="msg"></textarea>
		</div>
		<div class="col-md-2">
			<button class="btn btn-default" type="submit" id="send">Odeslat</button>
		</div>
	</div>
</div>
{/block}