{block content}
<div class="container">
	<div class="row">
	<h1 n:block=title>Přihlášení</h1>
	<div class="container">
		{control signInForm}
	</div>
	</div> <!-- konec row -->
</div> <!-- konec container -->
{/block}